* {
  box-sizing: border-box;
}

/* form input {
    display: block;
    width: 500px;
    padding: 20px;
    background-color: #252627;
    border: 3px solid #707070;
    margin: 20px 0;
    outline: none;
    font-size: 1.2rem;
    color: #fff;
    position: relative;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
  } */

form {
  width: 100%;
}

form label {
  color: #2f4f4f;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}
.col-3 {
  float: left;
  width: 15%;
  margin-top: 6px;
}
.col-5 {
  float: left;
  width: 60%;
  margin-top: 6px;
}

.input {
  color: blue;
}

input[type="text"],
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.formstyle {
  align-content: right;
}

.container {
  display: inline;
  align-content: center;
  border-radius: 5px;
  display: block;

  padding: 20px;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
