.sidenav {
    height: 100%; 
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0; 
    left: 0;
    background-color: #42adf5; 
    overflow-x: hidden;
    padding-top: 40px;
  }
  

  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 24px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    display: block;
  }
  

  .sidenav a:hover {
    color: #f1f1f1;
  }

  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }