/** @format */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}





@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.kajan-nav{
  background-color: lemonchiffon;
}

.wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #bed0df;
}

.form-wrapper {
  width: 500px;
  height: 600px;
  display: flex;
  flex-direction:column;
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0px 10px 50px #555;
  background-color: #ffffff;
}

.site-card-wrapper1{
  position: relative;
  top:50px;
  left:70px;
  width: 300px;
  height: 148px;
  display: flex;
  flex-direction:column;
  padding: 20px 40px;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #ffffff;
}



.site-card-wrapper2{
  position: relative;
  top:-96px;
  left:550px;
  width: 300px;
  height: 148px;
  display: flex;
  flex-direction:column;
  padding: 20px 40px;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #ffffff;
}

.site-card-wrapper3{
  position: relative;
  top:-244px;
  left:1035px;
  width: 300px;
  height: 148px;
  display: flex;
  flex-direction:column;
  padding: 20px 40px;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #ffffff;
}

.wrapper3{
  position: relative;
  top:-244px;
  left:1035px;
  width: 350px;
  height: 148px;
  display: flex;
  padding: 20px 40px;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: #A6FFC9;
  }

  .wrapper3:hover {
    color: #86C29C;
    background-color: #ADDFAD;
    border: 2px solid #86C29C;
  }

  .wrapper2{
    position: relative;
    top:-96px;
    left:550px;
    width: 350px;
    height: 148px;
    padding: 20px 40px;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: #FDFFAF;  }

    .wrapper2:hover {
      color: #FFEA61;
      background-color: #FFF192;
      border: 2px solid #FFEA62;
    }

  .wrapper1{
    position: relative;
    top:50px;
    left:70px;
    width: 350px;
    height: 148px;
    padding: 20px 40px;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: #92CBFF;  }

  
.wrapper1:hover {
  color: #170e91;
  background-color: #6EADDF;
  border: 2px solid #170e91;
}
  
 
  .Expired{
  padding-left: 60px;
  position: relative;
  font-size: 20px;
}
.moneyimg{
  width:10%;
  left:-25px;
  position: relative;
  top:24px;
}

.addimg1{
  
  left:-25px;
  position: relative;

  top:24px;
 
}
.h2 {
  color: #81359C;
}

count{
  color: #81359C;
  font-size: x-large;
  font-weight: bold;
}

.adcount{
  
  font-size: x-large;

}

.a-class{
  justify-content: space-around;
}


.table-wrapper {
  width: 1086px;
  height: 400px;
  top:-150px;
  left:176px;
  position: relative;
  padding: 20px 40px;
  border-radius: 6px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #ffffff;
}

.button-add{
  position: absolute;
width: 100px;
height: 40px;
left: 734px;
border:none;
color:white;
bottom: 20px;



background: linear-gradient(180deg, #49DCFC 0%, #3AA1FF 100%);
border-radius: 10px;
}

.button-submit{

width: 100px;
height: 40px;
border:none;
color:black;



background: linear-gradient(180deg, #49DCFC 0%, #3AA1FF 100%);
border-radius: 10px;
}

.button-createhome{
  background: linear-gradient(180deg, #49DCFC 0%, #3AA1FF 100%);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 6px;
border:none;
color:black;
font-family: 'Roboto';
font-weight:600;
font-size: 20px;

width: 250px;
height: 61px;
}

.button-print{
  position: absolute;
width: 100px;
height: 40px;
left: 900px;
bottom:20px;
border:none;
font-style:initial;


background: linear-gradient(180deg, #4694DB 0%, #3AA1FF 100%);
border-radius: 10px;
}



h1 {
  text-align: center;
  width: 100%;
  color: #111;
  font-weight: lighter;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

 label {
  font-size: 0.8em;
  
  color: #222;
  font-weight: lighter;
}



input {
  padding: 5px 5px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #cfcfcf;
}

input::placeholder {
  font-size: 0.8em;
  font-weight: lighter;
  color: #999;
}

input.error {
  border: 1px solid red;
}

.errorMessage {
  color: red;
  font-size: 0.75em;
  
}

.firstName {
  margin-right: 1%;
}

.lastName {
  margin-left: 1%;
}

.firstName,
.lastName,
.email,
.password {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.firstName,
.lastName {
  width: 49%;
}

.email,
.password {
  width: 100%;
}

.createAccount {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.createAccount button {
  background-color: #519e8a;
  color: #fff;
  border: 2px solid #fff;
  width: 100%;
  margin-top: 1em;
  padding: 8px 0px;
  font-size: 1em;
  font-weight: lighter;
  letter-spacing: 1px;
  margin-bottom: 0.25em;
}

.createAccount button:hover {
  color: #519e8a;
  background-color: #fff;
  border: 2px solid #519e8a;
}

.createAccount small {
  color: #999;
  font-weight: lighter;
}
.Elli {
  position: absolute;
  width: 207px;
  height: 232px;
  left: 967px;
  top: 157px;
}
.Elli1 {
  position: absolute;
  width: 207px;
  height: 232px;
  left: 941px;
  top: 128px;
}

.Elli3{
  position: absolute;
  width: 50px;
  height: 232px;
  right: 978px;
  top: 441px; 
}
.Elli2{
  position: absolute;
  width: 30px;
  height: 232px;
  right: 997px;
  bottom: 54px;
}

.Date1{
  position: relative;
  top:50px;
  width:60%;
  left:50px;
}



.form-wrapper1{
  position: static;
  top:25px;
  width: 845px;
  height: 650px;
  
  

  position: relative;
  left: 160px;
  
  padding: 10px 200px;
  border-radius: 10px;
  box-shadow: 0px 10px 50px #555;
  background-color: #ffffff;
}







input {
  padding: 10px 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #cfcfcf;
}

input::placeholder {
  font-size: 1.0em;
  font-weight: lighter;
  color: #999;
}



.customerName {
  margin-right: 1%;
  padding-top: 5px;
}

.packageType {
  margin-left: 1%;
  padding-top: 5px;
  padding-left: 10px;
}

.customerName,
.packageType,
.advertisingDate,
.duration {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.adTitle{
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

.customerName,
.packageType {
  width: 49%;
}

.advertisingDate,
.duration {
  width: 100%;
}

.submission {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submission button {
  background-color: #3AA1FF;
  color: #fff;
  border: 2px solid #fff;
  width: 100%;
  margin-top: 1em;
  padding: 8px 0px;
  font-size: 1em;
  font-weight: lighter;
  letter-spacing: 1px;
  margin-bottom: 0.25em;
}

.submission button:hover {
  color: #170e91;
  background-color: #fff;
  border: 2px solid #170e91;
}

.form-control{
  height: 20px;
  width: 40px;
}

.payment-wrapper{

    position: relative;
    top:50px;
    left:155px;
    width: 450px;
    height: 545px;
    display: flex;
    flex-direction:column;
    padding: 20px 40px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.19);
    background-color: #ffffff;
    align-items: center;
  
}

.Total{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  color:#1269B9;
}

.paypic{
  position: absolute;
  left:1100px;
  bottom:-20px;
}

th,td{
  padding: 20px 100px;
  
}

.paytype{

  position: relative;
  bottom:400px;
  left:800px;
  width: 450px;
  height: 300px;
  display: flex;
  flex-direction:column;
  padding: 20px 40px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.19);
  background-color: #ffffff;
  align-content: flex-end;

}

.adcount{
  font-weight: bold;
  color: blueviolet;
  font-size: x-large;
}

.wrapper4{
  position: relative;
  top:20px;
  left:20px;
  width: 550px;
  height: 110px;
  padding: 20px 40px;
  border-radius: 9px;
  box-shadow: 4px 4px 14px #3AA1FF;   }

  .wrapper5{
    position: relative;
    top:60px;
    left:20px;
    width: 550px;
    height: 110px;
    padding: 20px 40px;
    border-radius: 9px;
    box-shadow: 4px 4px 14px #3AA1FF;     }

    .pbody{
      background-image:url(/src/Images/background.jpg);
    }
    .wrapper6{
      position: relative;
      top:100px;
      left:20px;
      width: 550px;
      height: 110px;
      padding: 20px 40px;
      border-radius: 9px;
      box-shadow: 4px 4px 14px #3AA1FF;       }

      .shali-table-wrapper{
        
          width: 900px;
          height: 500px;
          top:-150px;
          left:176px;
          position: relative;
          padding: 20px 40px;
          border-radius: 6px;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          background-color: #ffffff;
      
      }
      
