@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  scrollbar-width: auto;
  /* "auto" or "thin"  */
  scrollbar-color: blue white;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#style-6::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

#style-6::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
}

#style-6::-webkit-scrollbar-thumb {
  background-color: #49b1ff;
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
}

#root {
  margin: 0;
  padding: 0;
  width: 99%;
}

.row {
  height: auto;
}

.row .side {
  background-color: #49b1ff;
  overflow-x: hidden;
}

.row .side ul {
  list-style: none;
  text-align: center;
  margin-left: 10px;
}

.row .side ul li img {
  width: 30%;
}

.row .side ul li {
  margin-top: 30px;
  padding: 10px 0px;
}

.row .side ul .drop {
  margin-bottom: 90px;
}

.row .main {
  background-color: #eceef9;
}

.navbar {
  margin: 0;
  padding-bottom: 0rem;
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

.navbar .navbar-brand {
  padding: 0;
  margin: 0;
}

.navbar p {
  font-weight: 900;
  color: #4d4f59;
  padding: 0;
  margin: 0;
}

.navbar a {
  background-color: transparent;
  border-radius: 100px;
}

.navbar .user-img {
  width: 30px;
}

.navbar .user-btn {
  background-color: white;
  border: none;
}

.main-img {
  position: relative;
  width: 73%;
}

.maincont-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.select-option {
  text-align: center;
  font-size: 20px;
  padding: 10px;
  font-family: "Open Sans", sans-serif;
}

.footer {
  text-align: center;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.footer p {
  padding: 0;
  margin: 0;
}

.create-event:hover {
  border-right: solid #eceef9 5px;
  background-color: #62bbff;
  -webkit-transition: ease-in 0.1s;
  transition: ease-in 0.1s;
}

.right {
  padding: 15px;
  padding-top: 25%;
  height: 100px;
}

.right p {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

.right .dot {
  width: 20px;
}

.event-card {
  padding: 15px;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 5px -4px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 5px -4px rgba(0, 0, 0, 0.75);
  margin-top: 15px;
}

.event-card p {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  color: #4d4f59;
  margin-bottom: 2px;
  font-size: 14px;
}

.event-card .number {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.event-card .number p {
  position: relative;
  font-size: 30px;
}

.event-card img {
  width: 40px;
}

.sub-topic p {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  padding-left: 15px;
  font-size: large;
  color: #4d4f59;
  margin: 0;
}

.light-sub-topic {
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
  padding-left: 15px;
  padding-top: 10px;
}

form {
  padding: 0px 20px 0px 20px;
}

.form-card {
  background-color: white;
  padding: 25px 25px;
  height: auto;
  margin: 0;
}

.form-card .right-side {
  height: auto;
}

.form-card .right-side input {
  width: 100%;
  background-color: #eceef9;
  border: none;
  outline: none;
  padding: 2px;
  border-radius: 10px;
  padding-left: 15px;
  font-weight: 13px;
}

.form-card .right-side select {
  width: 100%;
  background-color: #eceef9;
  border: none;
  outline: none;
  padding: 2px;
  border-radius: 10px;
  padding-left: 15px;
}

.form-card .right-side .row {
  height: auto;
  padding-top: 15px;
}

.form-card .left-side {
  height: auto;
}

.form-card .left-side .row {
  height: auto;
  padding-top: 15px;
}

.form-card .left-side input {
  width: 100%;
  background-color: #eceef9;
  border: none;
  outline: none;
  padding: 2px;
  border-radius: 10px;
  padding-left: 15px;
}

.form-card .left-side textarea {
  width: 100%;
  background-color: #eceef9;
  border: none;
  outline: none;
  padding: 2px;
  border-radius: 10px;
  padding-left: 15px;
  height: 110px;
}

.main-row {
  height: auto;
}

.chart {
  width: 100%;
  margin-top: 10%;
  padding: 0px;
}

.chart p {
  text-align: center;
  padding: 10px 0px 10px 0px;
  background-color: #eceef9;
  margin-top: 10px;
  border-radius: 10px;
}

.chart canvas {
  padding: 0;
  margin: 0;
}

.slide {
  overflow-y: scroll;
  height: 100vh;
}

.fix-right {
  position: fixed;
}

.item {
  height: auto;
  margin-top: 10px;
}

.item input {
  width: 100%;
  background-color: #eceef9;
  border: none;
  outline: none;
  padding: 2px;
  border-radius: 10px;
  padding-left: 15px;
  text-align: center;
}

.item a {
  color: white;
}

.select-item {
  height: auto;
  padding: 20px;
}

.select-item .row {
  height: auto;
}

.select-item select {
  width: 100%;
  background-color: #eceef9;
  border: none;
  outline: none;
  padding: 2px;
  border-radius: 10px;
  padding-left: 15px;
}

.btn {
  padding: 2px;
}

.upload {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
}

.upload form {
  height: auto;
}

.upload input[type="file"], .upload button {
  background-color: #eceef9;
  width: 90%;
  padding: 10px;
  border-radius: 10px;
}

.upload img {
  width: 50%;
}

.upload .row {
  height: 75px;
}

.emai {
  width: 100%;
}

.email-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.upload-email {
  height: auto;
}

.adddet {
  width: 100%;
}

.adddet input {
  width: 100%;
}

.save-event {
  margin: 20px 0px 20px 0px;
  width: 100%;
  padding: 10px;
}

.dropdown-item {
  border-radius: 1px;
}
/*# sourceMappingURL=index.css.map */